{
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"env": {
		"es6": true,
		"node": true,
		"browser": true
	},
	"extends": ["eslint:recommended", "plugin:compat/recommended"]
}
