# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directory
node_modules/

# Misc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
webpack-mpa.svg

# Build directory
/assets/dist

# EditorConfig
.editorconfig

# Git
.gitignore
.gitattributes

# CI
.travis.yml

# lock files
yarn.lock
