{
	"extends": ["stylelint-config-recommended", "stylelint-config-standard-scss"],
	"plugins": ["stylelint-scss", "stylelint-no-unsupported-browser-features"],
	"rules": {
		"scss/at-rule-no-unknown": true
	}
}
