// Chevron
// USAGE: @include chevron(1.25rem, 0 0 1px 1px, black, auto, 45deg);

@mixin chevron(
	$dimensions: 1rem,
	$border-width: 0 0 1px 1px,
	$border-color: currentColor,
	$margin: auto,
	$rotation: 45deg
) {
	content: '';
	width: $dimensions;
	height: $dimensions;
	display: inline-block;
	vertical-align: middle;
	border-width: $border-width;
	border-style: solid;
	border-color: $border-color;
	margin: $margin;
	transform: rotate($rotation);
	transform-origin: 50% 50%;
	transition: all $timing $easing;
}
