// Flexbox

@mixin flex($align, $justify) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
}

@mixin flex-row($wrap: wrap, $align: stretch, $justify: space-between) {
	@include flex($align, $justify);
	flex-flow: row $wrap;
}

@mixin flex-column($wrap: nowrap, $align: stretch, $justify: space-between) {
	@include flex($align, $justify);
	flex-flow: column $wrap;
}
