// Media Queries

@mixin small-desktop {
	@media (max-width: #{$small-desktop}) {
		@content;
	}
}

@mixin desktop-only {
	@media (min-width: $tablet-landscape + 1) {
		@content;
	}
}

@mixin tablet-landscape {
	@media (max-width: #{$tablet-landscape}) {
		@content;
	}
}

@mixin tablet-landscape-only {
	@media (min-width: $tablet-portrait + 1) and (max-width: $tablet-landscape) {
		@content;
	}
}

@mixin tablet-portrait {
	@media (max-width: #{$tablet-portrait}) {
		@content;
	}
}

@mixin tablet-portrait-only {
	@media (min-width: $mobile + 1) and (max-width: $tablet-portrait) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: #{$mobile}) {
		@content;
	}
}
