// Mixins

@mixin hover {
	&:hover {
		@media (-ms-high-contrast: none),
			(-ms-high-contrast: active),
			(-moz-touch-enabled: 0),
			(hover) {
			@content;
		}
	}
}

@mixin centered {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
