version: 2.1
jobs:
    build:
        docker:
            - image: circleci/php:7.4-node-browsers
        steps:
            - checkout
            - run:
                  name: autoreconf
                  command: sudo apt install automake
            - run:
                  name: install
                  command: npm install
            - run:
                  name: pwa
                  command: npm run pwa
            - run:
                  name: optisize
                  command: npm run optisize
            - run:
                  name: lint
                  command: npm run lint
            - run:
                  name: prod
                  command: npm run prod
