/* ==========================================================================
	Font Size Settings
========================================================================== */

$font-sans-serif: sans-serif;
$font-serif: serif;
$font-monospace: monospace;

$font-size-base: 1rem;
$line-height-base: 1.35;

$font-size-h1: 2rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: $font-size-base;
$font-size-h6: 0.75rem;

$color-base: #333;
$color-white: #fff;
$color-black: #000;
$color-action: #ef4c23;

$shell-width: 75rem;

$timing: 0.4s;
$easing: ease-in-out;
