// Reset

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	text-decoration-skip: ink;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
}

nav {
	ul,
	ol {
		padding: 0;
		margin: 0;
		list-style: none outside none;
	}
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

img,
iframe,
video,
audio,
object {
	max-width: 100%;
}

img,
iframe {
	border: 0 none;
}

img {
	height: auto;
	display: inline-block;
	vertical-align: middle;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}
