// Transitions

a,
a img,
input,
button,
select,
textarea,
.c-btn,
[class^='svg-'] {
	transition-property: color, opacity, border-color, background-color,
		box-shadow, fill, stroke;
	transition-duration: $timing;
	transition-timing-function: $easing;
}
