// Links

a {
	color: $color-action;
	text-decoration: underline;
	cursor: pointer;

	&[href^='tel'] {
		color: inherit;
		cursor: default;
		appearance: none;
	}

	&:hover,
	&[href^='tel'] {
		text-decoration: none;
	}
}
